*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    overflow: hidden;
}
.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: #aed2f6;
}
.logo{
   font-size: 22px;
    font-weight: bold;
}

.username{
    background: #eaf4ff;
    color: #1e90ff;
    padding: 10px ;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}
nav>a{
    margin: 20px;
    text-decoration: none;
    color: rgb(43, 41, 41);
}

.hero{
    height: 91vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:  10vw;
    background-color: rgb(255, 255, 255);
}
.hero-left{
    width: 45vw;
}
.hero-left h1{
    font-size: 3vw;
    line-height: 1.3;
    margin-bottom: 20px;
}
.hero-left span{
    color: rgb(22, 174, 221);
}
.hero-left button{
    padding: 25px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #0373e4;
    color: #eaf4ff;
   border: none;
    font-size: larger;
}
img{
    height: 400px;
    
}
